.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .left-section {
    display: flex;
  }
  
  .center-section {
    flex-grow: 1;
    text-align: center;
  }
  
  .right-section {
    display: flex;
  }
  
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button:hover {
    text-decoration: underline;
  }
  