.absolute-head {
    background-color: #142B57;
}

.my-home-card {
    background-image: url("./static/1.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 5%;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
}

.custom-image {
    width: 100%;
    height: 400px;
}